<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-sm-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                    aria-controls="v-pills-home" style="background-color: #00a7b5; color: white"aria-selected="true">Dashboard</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                    aria-controls="v-pills-profile" style="background-color: #00a7b5; color: white"aria-selected="false">Profile</a>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
                    aria-controls="v-pills-messages" style="background-color: #00a7b5; color: white"aria-selected="false">My Orders</a>
                <a class="nav-link" id="v-pills-update-tab" data-toggle="pill" href="#v-pills-update" role="tab"
                    aria-controls="v-pills-update" style="background-color: #00a7b5; color: white" aria-selected="false">Update profile</a>
                <a class="nav-link" id="v-pills-settings-tab" href="/clientdashboard/logout" role="button"
                    aria-controls="v-pills-settings" style="background-color: #00a7b5; color: white" aria-selected="false">Logout</a>
            </div>
        </div>
        <div class="col-10">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                    aria-labelledby="v-pills-home-tab">
                    <h1 class="text-center" style="color:#004f59">Our Ninjas</h1>
                    <div class="row">
                    <div class="column">
                    <div class="card-deck" style="padding:10px">
                        {{#each data}}
                        <div class="card">
                            <img src={{this.photo}}
                                class="card-img-top" alt="ninja">
                            <div class="card-body">
                                <p id="ninjaid " style="color:#004f59">Name:{{this.first_name}}</p>
                                <p style="color:#004f59">Phone no:{{this.phonenumber}}</p>
                                <p style="color:#004f59">EmpId:{{this._id}}</p>
                                <p style="color:#004f59">Status:{{this.Availability}}</p>
                                <p style="color:#004f59">Duty:{{this.duty}}</p>
                                <p style="color:#004f59">Locality:{{this.locality}}</p>
                                <p style="color:#004f59">City:{{this.city}}</p>
                                
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn bg-info" style="color: white" data-toggle="modal"
                                    data-target="#{{this.first_name}}">
                                    Book
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id={{this.first_name}} tabindex=" -1" role="dialog"
                                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalCenterTitle">EASY SHIPPING </h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="/clientdashboard/form" method="POST">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="pickUp"
                                                            name="pickupaddress" placeholder="Pick-Up address">
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="drop"
                                                            name="deliveryaddress" placeholder="Drop address">
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="fare" name="fare">
                                                    </div>

                                                    <button type="submit" class="btn bg-info" id="book" name="booking"
                                                        value={{this._id}}>Book</button>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-secondary" id="cal">Estimated
                                                    fare</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    </div>
                   </div> 
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="container mt-5"style="height:500px">
                    <div class="container w-50">
                        <span>
                            <img src={{pic}}
                                alt="Ninja Picture" height="150px">

                            <span id="name" style="font-size: 20px; color:#004f59; text-align:center" >{{fname}}</span>
                        </span>
                    </div><br>
                    <div class="container w-50 mb-5">
                        <div class="card">
                            <div class="card-header" style="text-align:center;font-size: 20px; font-weight: 100; color:#004f59">
                                Personal Details
                            </div>
                            <div class="card-body">
                                <h4 style="font-size: 20px; color:#004f59">Locality:{{loc}}</h4>
                                <h4 style="font-size: 20px; color:#004f59">Contact No:{{mob}}</h4>
                                <h4 style="font-size: 20px; color:#004f59">Registered email:{{email}}</h4>
                                <h4 style="font-size: 20px; color:#004f59">Id:{{id}}</h4>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    <div class="container" style="height:620px">
                    <button type="button" class="btn bg-info mt-5" id="showorders" style="color: white; text-align:center"> MY Orders</button><br>
                    <table class="table table-stripped">
                        <thead>
                            <tr>
                                <th scope="col">Order Id</th>
                                <th scope="col">Delivery Address</th>
                                <th scope="col">Pickup Address</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                </div>
            <div class="tab-pane fade" id="v-pills-update" role="tabpanel" aria-labelledby="v-pills-update-tab">
                    <div class="container"><br>
		        
		<div class="col-lg-6 m-auto d-block">
			<div class="container">
                        <span>
                            <span id="ninja _name" style="font-size: 20px; color:#004f59; text-align:center"> <strong>Welcome {{fname}} {{lname}} </strong> </span>
                        </span>
                    </div><br>
                     
			<form action="/clientdashboard/update/{{id}}" onsubmit="return validation()"enctype="multipart/form-data" class="bg-light" method="POST">
				<div class="form-group">
					<label for="user" class="font-weight-bold"> Locality</label>
					<input type="text" name="locality" class="form-control" id="locality" autocomplete="off">
					<span id="local" class="text-danger font-weight-bold"> </span>
				</div>

				<div class="form-group">
					<label for="user" class="font-weight-bold"> City</label>
					<input type="text" name="city" class="form-control" id="city" autocomplete="off">
					<span id="town" class="text-danger font-weight-bold"> </span>
				</div>
				<div class="form-group">
					<label class="font-weight-bold"> Password: </label>
					<input type="password" name="pass" class="form-control" id="pass" autocomplete="off">
					<span id="passwords" class="text-danger font-weight-bold"> </span>
				</div>

				<div class="form-group">
					<label class="font-weight-bold"> Confirm Password: </label>
					<input type="password" name="conpass" class="form-control" id="conpass" autocomplete="off">
					<span id="confrmpass" class="text-danger font-weight-bold"> </span>
				</div>

				<div class="form-group">
					<label class="font-weight-bold"> Mobile Number: </label>
					<input type="text" name="mobile" class="form-control" id="mobileNumber" autocomplete="off">
					<span id="mobileno" class="text-danger font-weight-bold"> </span>
				</div>
				<div class="form-group row">
                <label for="photo" class="col-sm-2 col-form-label font-weight-bold">Photo</label>
                <div class="col-sm-10">
                <input type="file" class="form-control-file" id="photo" name="photo">
                <p class="small mb-0" style="color: #004f59">upload your profile pic</p>
                <p class="small" style="color: #004f59">Preferable size: 1880 x 1058 pixels</p>
            </div>
             </div>

				<input type="submit" name="submit" value="Update" class="btn  bg-info mb-3" style="color:white"autocomplete="off">


			</form><br><br>
		</div>
	</div>
</div>
            </div>
        </div>
    </div>
</div>
</div>
</div>