<div class="container mt-5">
<div class="row">
{{#each data}}
<div class="column">
<div class="card-deck"style="padding:10px">
        <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtjC1ue_JBgcpqkfusdsWaehhnHrjx5nZMG76rEZj4hoAm_gMD" class="card-img-top" alt="...">
            <div class="card-body">
            <p style="color:#004f59">Name:{{this.name}}</p>
            <p style="color:#004f59">Phone NO:{{this.phoneno}}</p>
            <p style="color:#004f59">id:{{this.employeeid}}</p>
            <p style="color:#004f59">Locality:{{this.locality}}</p>
            <p style="color:#004f59">City:{{this.city}}</p>
            <a class="btn bg-info mb-3 book" type="submit" name="booking" value="{{this._id}}">Book</a> 
        </div>
    </div>
</div>
</div>
{{/each}}
</div>
</div>
            